@media (max-width:800px){
	body{
		padding:0;
		margin:0;
	}

	header{
		background: hsla(0,50%,30%,0.5);
		position:fixed;
		left:0;
		right:0;
		top:0;
		height:100px;
		box-shadow: 0px 4px 4px #999;
		z-index:1000;
	}

	section{
		height: 1000px;
		position: relative;
		overflow: hidden;
		margin-top: 130px;
	}

	article{
		width: 48%;
		height:300px;
		background: hsla(0,30%,70%,0.9);
		box-shadow: 0px 0px 4px #999;
		margin: 1% 1%;
		float: left;
		-webkit-transition:.5s;
	}
}